.button {
    font-weight: bold; 
    height: 50px;
    width: 60px;
    background:#CACACA;
    border:0px;
   }
.button:hover{
	background:#DADADA;
}
.button:active{
	background:#EAEAEA;
} 



   

.center_table{
	margin-left: 40%;
	margin-top: 15%;
	margin-right:40%;
	min-width: 300px;
	
}
.Left_and_Right_operand{
	width:115px;
	height: 30px;
	text-align:right;
	font-size:25px;
}

.operator{
	width:50px;
	height: 30px;
	text-align:right;
	font-size:25px;
}
.result{
	margin-left: 5%;
	width:230px;
	height: 40px;
	text-align:right;
	font-size:25px;
}